.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
}

.navLinks {
  display: flex;
  gap: 2rem;
  color: var(--text-color);
  font-size: 1.25rem;
}

.navLinks li:hover {
  color: var(--primary);
  text-decoration-color: var(--primary);
  text-decoration-line: underline;
  text-underline-offset: 8px;
}

.navLinks li {
  list-style: none;
}

@media only screen and (max-width: 780px) {
  .navLinks {
    gap: 1rem;
    font-size: 1rem;
  }
}
