.status {
  position: fixed;
  bottom: 7rem;
  right: 5rem;
  background-color: #21769e;
  font-weight: 500;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
}

.status p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.1rem;
}
