.mainFooter {
  display: flex;
  justify-content: space-around;
  border-radius: 1rem 1rem 0 0;
  font-size: x-large;
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0; */
}

.footerList {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footerList > li > a {
  color: #7c3aed;
}

@media only screen and (max-width: 780px) {
  .mainFooter {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .mainFooter > p {
    margin: 0.5rem;
    font-size: 1.3rem;
  }
  .footerList {
    display: flex;
    grid-gap: 1rem;
    gap: 1rem;
    margin: 1rem auto;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}
