.interviewSlots {
  display: flex;
  justify-content: flex-start;
  gap: 4rem;
  padding: 2rem 0;
  flex-wrap: wrap;
  align-items: center;
}

.interviewSlots > p,
.greenInterviewSlot > p,
.redInterviewSlot > p,
.greyInterviewSlot > p {
  margin: 0.5rem 0;
}

.greenInterviewSlot {
  /* color: green; */
  position: relative;
  background: #ffffff;
  width: max-content;
  display: flex;
  padding: 2rem 3rem;
  align-items: flex-start;
  border-radius: 1rem;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  border-radius: 13px;
  background: #ffffff;
  box-shadow: 6px 6px 12px #ebebeb, -6px -6px 12px #ffffff;
}

.redInterviewSlot {
  /*color: #ff2b2b;
  */ /*background-color: #fbcfe8;
  */
  position: relative;
  width: max-content;
  display: flex;
  padding: 2rem 3rem;
  align-items: flex-start;
  border-radius: 1rem;
  flex-direction: column;
  /*box-shadow: var(--box-shadow);
  */
  border-radius: 13px;
  background: #ffffff;
  box-shadow: 6px 6px 12px #ebebeb, -6px -6px 12px #ffffff;
}

.redInterviewSlotHR {
  border-left: 2px solid #ff2b2b;
  padding-left: 1rem;
}

.greenInterviewSlotHR {
  border-left: 2px solid green;
  padding-left: 1rem;
}

.greyInterviewSlot {
  color: #787272;
  background-color: #e6e2e4;
  width: max-content;
  display: flex;
  padding: 2rem 4rem;
  align-items: flex-start;
  border-radius: 1rem;
  flex-direction: column;
  box-shadow: var(--box-shadow);
}

.greenInterviewSlot h3,
.redInterviewSlot h3,
.greyInterviewSlot h3 {
  margin: 0.5rem 0;
}

@media only screen and (max-width: 780px) {
  .interviewSlots {
    margin: 2rem 2rem;
  }
}
