.login {
  display: flex;
  justify-content: center;
  margin: 3rem 3rem 1rem;
}

.form {
  max-width: 550px;
  width: 100%;
  padding: 2rem 4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: var(--box-shadow);
}

.inputBox {
  position: relative;
  width: 295px;
}

.input {
  border: 0;
  padding: 0.7rem 0;
  outline: #fff;
  border-bottom: 2px solid #ccc;
  max-width: 295px;
  margin: 1rem 0 0 0;
  font-size: medium;
  text-align: left;
  font-family: 'Inter', sans-serif;
  width: 100%;
}

.input ~ .focusBorder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary);
  transition: 0.4s;
}

.input:focus ~ .focusBorder {
  width: 100%;
  transition: 0.4s;
}

.secondaryTxt {
  font-size: 1.3rem;
}

.forgetPassword {
  align-self: baseline;
  padding-left: 4rem;
  padding-bottom: 0.5rem;
}

.forgetPassword:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 400px) {
  .login {
    margin: 3rem 1rem 1rem;
  }
}
