@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}
