@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

:root {
  --primary-color: #7c3aed;
  --box-shadow: 8.71px 8.71px 15px rgb(0 0 0 / 5%),
    -8.71px -8.71px 15px rgb(0 0 0 / 3%);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

.blueTxt {
  color: #7c3aed;
}

.blueTxt:hover {
  cursor: pointer;
  text-decoration: underline;
}

.textCenter {
  text-align: center;
}

.mainLayout {
  min-height: 77vh;
}

.btnPrimary {
  border: none;
  padding: 0.8rem 1.7rem;
  outline: none;
  border-radius: 2rem;
  font-size: large;
  background-color: var(--primary-color);
  color: #fff;
  margin: 1rem 0;
  cursor: pointer;
}

.btnSecondary {
  background: none;
  cursor: pointer;
  padding: 0.6rem 1rem;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 2rem;
  font-size: initial;
  margin: 1rem 0;
}

.btnIcon {
  align-self: flex-end;
  border: none;
  background: none;
  outline: #fff;
  cursor: pointer;
  top: 1rem;
  right: 1rem;
}

.btnIconShowPassword {
  position: absolute;
  top: 1.3rem;
  right: 0.3rem;
}

.loading {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
