.profile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem;
}

.profileCard {
  width: max-content;
  padding: 2rem 3rem;
  align-items: flex-start;
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  box-shadow: var(--box-shadow);
}

.profileCard > h1,
.profileCard > p,
.profileCard > h3 {
  margin: 0.5rem;
}

.interviewSlotForm {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}

.iconBtn {
  align-self: flex-end;
  border: none;
  background: none;
  outline: #fff;
  cursor: pointer;
  top: 1rem;
  right: 1rem;
}

.btnSecondary {
  background: none;
  cursor: pointer;
  padding: 0.6rem 1rem;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 2rem;
  font-size: initial;
  margin: 1rem 0;
}
